@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: openSans;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSansCondensed;
    src: url(../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #333333;
    overflow-x: hidden;
}

H1,
H2,
H3,
H4,
H5 {
    font-family: openSans;
    margin: 0;
    padding: 0;
}

p {
    font-family: Montserrat, sans-serif;
}





/*------GRID-----------------------------------------------------------------*/

.container {
    width: 76.25%;
    margin: 0 auto;
    position: relative;

}

/*------MODIFACATOR-----------------------------------------------------------*/

.btn--style {
    border: 1px solid #E46826;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    min-height: 3rem;
    min-width: 12.5rem;
    font-size: 1.3rem;
    padding: 0.8rem 2.3rem;
    background-color: transparent;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
}

.line {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 14rem;
    z-index: 233;
    top: 18rem;
    left: -3rem;
    border-left: 1px solid #E46826;
    animation: btnAnimation 5s 0s ease-in-out;
    transition: all 01 ease-in-out;
}

.line-about {
    display: inline-block;
    transition: all 5s ease-in-out;
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 10rem;
    z-index: 233;
    top: 9rem;
    left: -3rem;
    border-left: 1px solid #E46826;

}

.section--headText {
    font-size: 2.62rem;

}

.underline {
    transform: translateX(-200%);
    opacity: 1 !important;
    border-bottom: 1px solid #E46826;
    width: 30% !important;
    min-width: 25rem;
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
}

/*------HEADER-----------------------------------------------------------------*/

.header {
    position: absolute;
    width: 100%;
    height: 6.25rem;
    z-index: 1200;
}

.header__logo {
    position: absolute;
    left: -4.4rem;
    top: 1.65rem;
    animation: btnAnimation 4s 0s ease-in-out;
}

.header-navbar {
    float: right;
    margin: 0;
    padding: 0;
    line-height: 6.25rem;
    animation: btnAnimation 4s 0s ease-in-out;
}

.header-navbar li {
    display: inline-block;
    margin-right: 5rem;
}

.header-navbar li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;

}

.header-navbar li a:hover {
    color: #E46826;
}

.header-navbar li:last-child {
    margin-right: 0;
}

.hamb-menu {
    position: absolute;
    transform: translateY(-200%);
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    min-width: 30rem;;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5rem 1rem;
    transition: all 0.8s ease-in-out;
    border-radius: 5px;
    
}
.hamb-menu > a {
    font-size: 2.2rem;
    margin-bottom: 4rem;
    text-decoration: none;
    color: #333333;
    
 

}
.hamb-menu span {
    font-size: 1.5rem;
    position: absolute;
    top: 2%;
    left: 3%;
    font-weight: bold;
    cursor: pointer;
    font-family: Montserrat;
    border: 1px solid #E46826;
    padding: 0.5rem 1rem;
    border-radius: 5px;
   
}
#hamb-icon {
 display: none;
 position: absolute;
 width: 3rem;
 height: auto;
 color: #ffffff;
 top: 2rem;
 right: 2rem;
 cursor: pointer;
 z-index: 1000;
}

/*-----HERO---------------------------------------------------------------------*/

.hero {
    position: relativ;
    width: 100%;
    height: 800px;
    background-color: #000000;
    background-image: url(../img/homeBG_1920x800.jpg);
    background-size: contains;
   
    color: #ffffff;
}

.square {
    position: absolute;
    left: 0;
    top: -3rem;
}

.circle {
    position: absolute;
    top: 0;
    left: 54rem;
    z-index: 33;
}

.triangle {
    position: absolute;
    top: 25%;
    left: 45rem;
    z-index: 33;
}

.hero-info {
    padding-top: 15.3rem;
    padding-bottom: 7.5rem;
    max-width: 30rem;
    z-index: 100;

}

.hero-info__headText {
    font-size: 1.8rem;
    font-family: OpenSansCondensed;
    line-height: 160%;
    letter-spacing: 0.45em;
    will-change: transform;
    animation: textAnimation 3s 0s ease-in-out;
}

.hero-info__headText span {
    font-size: 4.4rem;
    color: #E46826;
    font-family: openSans;
    font-weight: bold;
    letter-spacing: 0;
}

.hero-info__text {
    font-size: 1.4rem;
    line-height: 153.3%;
    opacity: 0.7;
    padding: 3rem 0 4rem 0;
    margin: 0;
    animation: textAnimation 4s 0s ease-in-out;
}

@keyframes textAnimation {
    0% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(20%);
    }

    80% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0);
    }
}

.hero-info__btnContact {
    margin-right: 2.4rem;
    background-color: #E46826;
    animation: btnAnimation 4s 0s ease-in-out;
}

.hero-info__btnPortfolio {
    animation: btnAnimation 4s 0s ease-in-out;
}

@keyframes btnAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }

}

.social-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -1.5rem;
    top: 22rem;
}

.social-icons img {
    display: inline-block;
    margin-bottom: 4rem;
    cursor: pointer;
    will-change: auto;
    width: 2rem;
    height: auto;
    transition: all 1s ease-in-out;
    will-change: auto;
}

.social-icons img:nth-child(1) {
    animation: iconAnimation-1 3s 0s ease-in-out;
}

@keyframes iconAnimation-1 {
    0% {
        opacity: 0;
        transform: translateX(500%);
    }

    60% {
        transform: translateX(-20%);
    }

    80% {
        transform: translateX(10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.social-icons img:nth-child(2) {
    animation: iconAnimation-2 3s 0s ease-in-out;
}

@keyframes iconAnimation-2 {
    0% {
        transform: translateX(500%);
        opacity: 0;
    }

    60% {
        transform: translateX(-20%);
    }

    80% {
        transform: translateX(10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.social-icons img:nth-child(3) {
    animation: iconAnimation-3 3s 0s ease-in-out;
}

@keyframes iconAnimation-3 {
    0% {
        transform: translateX(500%);
        opacity: 0;
    }

    60% {
        transform: translateX(-20%);
    }

    80% {
        transform: translateX(10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.social-icons img:hover {
    transform: rotate(360deg) scale(1.4);
    -webkit-transform: rotate(360deg) scale(1.4);
    -moz-transform: rotate(360deg) scale(1.4);
    -ms-transform: rotate(360deg) scale(1.4);
    -o-transform: rotate(360deg) scale(1.4);
   
}





/*-------ABOUT--------------------------------------------------------------------*/

.about {
    width: 100%;
    position: relative;
    padding-top: 6.5rem;
}

.black-arrow {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: auto;
}

.about__underline {
    opacity: 0;
    will-change: auto;
    transition: all 5s ease-in-out;
}

.about-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-text,
.about-skills {
    width: 40%;
    min-width: 30rem;
    padding: 4rem 0;
    transition: all 3s ease-in-out;
}

.about-skills {
    opacity: 0;
}

.about__headText,
.about-text p {
    will-change: auto;
    transform: translateX(-200%);
    transition: all 0.5 ease-in-out;
}

.about-text p {
    font-size: 1.2rem;
}

.about-skills p {
    font-size: 1.2rem;
    display: inline;
    font-weight: bold;
}

.about-skills span {
    display: inline-block;
    float: right;
    font-weight: bold;
}

.skill-item {
    position: relative;
    width: 100%;
    height: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #000000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.skill-item::before {
    content: "";
    will-change: transform;
    position: absolute;
    background-color: #36847C;
    height: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}




/*-----PORTFOLIO------------------------------------------------------------------*/

.portfolio__underline {
    opacity: 0;
    width: 100%;
    will-change: auto;
    transition: all 5s ease-in-out;
}

.portfolio__headText {
    will-change: auto;
    transition: all 3s ease-in-out;
    transform: translateX(-200%);
}

.portfolio-box {
    padding: 4rem 0 3rem 0;
    width: 92%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    opacity: 0;
    transition: all 3s ease-in-out;
}

.portfolio__img {
width: 28%;
min-width: 25rem;
transition: all 0.3s ease-in-out;


}
.portfolio__img img { 
width: 100%;
}


.hidden {
    display: none;
}

.portfolio-btn {
    display: block;
    margin: 0 auto;
    color: #333333;
}

/*------REVIEWS----------------------------------------------------------------------*/
.reviews {
    opacity: 0;
    width: 100%;
    will-change: auto;
    transition: all 3s ease-in-out;
    margin-top: 4rem;
    background-color: #333333;
    padding: 5rem 0;
}

.reviews__headText {
    color: #ffffff;

}

.review-slider {
    width: 100%;
    padding-top: 3rem;
    position: relative;
}



.arrow__left {
    cursor: pointer;
    position: absolute;
    left: -4rem;
    width: 4%;
    min-width: 2rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.arrow__right {
    cursor: pointer;
    position: absolute;
    right: -4rem;
    width: 4%;
    min-width: 2rem;
    top: 50%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.slider-content {
    text-align: center;
    margin: 0;
    width: 90%;
    padding: 2rem 0;
    transform: translateX(3rem)
    
   
}

.d-none{
    display: none;
}
.active-slide {
    display: block;
}

.slider-content img {

    border-radius: 5px;
    width: 20%;
    min-width: 12rem;
    margin-bottom: 3rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.slider-content p {
    position: relative;
    text-align: center;
    margin: 0 auto;
    min-width: 25rem;
    padding: 1rem;
    font-size: 1.2rem;
    color: #ffffff;
}

.slider-content p:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3rem;
    width: 44px;
    height: 44px;
    background-image: url(../img/svg/quotation-marks.svg);
}

.slider-content p:after {
    content: "";
    position: absolute;
    right: 3rem;
    top: -3rem;
    width: 44px;
    height: 44px;
    background-image: url(../img/svg/quotation-marks.svg);
}


/*----CONTACT------------------------------------------------------------------------------*/

.contact {
    width: 100%;
    padding: 4rem 0;
    position: relative;
}

.contact__headText {
    will-change: auto;
    transition: all 3s ease-in-out;
    transform: translateX(-300%);
}

.contact__underline {
    will-change: auto;
    transition: all 5s ease-in-out;
    opacity: 0;
}

.contact-form {
    width: 40%;
    min-width: 28rem;
    ;
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
}

.contact-form input {
    border: none;
    border-bottom: 1px solid #E46826;
    margin-bottom: 4rem;
    width: 20rem;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;

}

#name {
    will-change: auto;
    transition: all 3s ease-in-out;
    transform: translateX(-300%);
}

#email {
    will-change: auto;
    transition: all 3s ease-in-out;
    transform: translateX(-300%);
}

.contact-form textarea {
    will-change: auto;
    transition: all 3s ease-in-out;
    transform: translateX(-300%);
    border: 1px solid #E46826;
    border-radius: 5px;
    width: 100%;
    font-family: Montserrat, sans-serif;
    margin-bottom: 4rem;
    font-size: 1.3rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#send-form {
    will-change: auto;
    transition: all 5s ease-in-out;
    opacity: 0;
}

.contact__btn {
    color: #333333;
    width: 10rem;
    background-color: #E46826;
    color: #ffffff;
}

.contact-card {
    margin: auto;
    will-change: auto;
    transition: all 3s ease-in-out;
    transform: translateX(300%);
    display: flex;
    width: 45%;
    height: auto;
    min-width: 30rem;
    margin: 2rem 0;
    background-color: #36847C;
    padding: 1.5rem;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}

.contact-card img {
    border-radius: 5px;
    height: 20rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.contact-card p {
    padding: 0 4rem 0 4rem;
    color: #ffffff;
}

.contact-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.send-text {
    font-size: 1.3rem;
    color: #36847C;
}

.black-arrow-down {
    position: absolute;
    width: 100%;
    bottom: -1px;
    left: 0;
}

.footer {
    float: none;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 6.25rem;
    background-color: #000000;
}

/*Desktop cantactCard*/
@media screen and (min-width: 1200px) {
    .contact-card {
        position: absolute;
        right: 0;
        width: 40%;
        top: 14rem;
    }
}

/*MOBILE-------------------------------------------------------*/
@media screen and (max-width: 56rem) {
    html {
        font-size: 14px;
    }
    .header-navbar {
        display: none;

    }
    #hamb-icon {
        display: block;
    }

    .hero-info {
        width: 100%;

    }

}

@media screen and (max-width: 700px) {
   .triangle {
       display: none;
   }
   .circle {
       display: none;
   }
   .square {
       display: none;
   }

    .header__logo {
        left: 5%;
        top: 10%;
    }

    .social-icons {
        top: 92%;
        left: 5%;
        flex-direction: row;

    }

    .social-icons img {
        margin: 0;
        margin-right: 4rem;
    }

    .hero-info__btnContact {
        margin-bottom: 2rem;

    }
    .header__logo {
        transform: translate(-65%, 30%);

    }
    .slider-content {
        transform: translateX(0);
    }


}

@media screen and (max-width: 400px) {

    html,
    body {
        font-size: 8px;
    }

    .header__logo {
        transform: translate(-65%, 30%);
        width: 4rem;

    }

    .hero {
        height: 500px
    }
    .slider-content p:before {
 bottom: -5rem;
    }
    .slider-content p:after {
        top: -4rem;
        right: 1rem;
    }
}